<div class="row">
  <div *ngFor="let item of cartItems" class="card m-2 p-3 shadow row-gap-3">
   <div class="col-md-4">
      <img [src]="item.product.imageName" class="img-fluid rounded-start" alt="{{ item.product.title }}">
    </div>
  <h2>{{ item.product.title }}</h2>
  <p>{{ item.product.description }}</p>

<button class="btn btn-warning" [ngStyle]="{'width':'100px'}" (click)="RemoveFromCart(item.cartItemId)">Remove</button>
  <p [ngStyle]="{'color':'green'}">Price: ₹{{ item.product.price }}</p>

</div>
</div>

