<!-- 'background-color':'#ecf0f1', -->
  <div class="container mt-5 align-items-center mx-auto shadow-sm" [ngStyle]="{'width':'60%'}">
    <form [formGroup]="Studentform" (ngSubmit)="onSubmit()" class="mx-auto" style="width: 100%; max-width: 600px;">
      <h1 class="text-lg-center card-header"[ngStyle]="{'background-color':'#ecf0f1'}"> <b>Register Here</b></h1>
    <div class="ms-3">
      <label for="FirstName" class="form-label text-center">First Name</label>
      <input type="text" class="form-control" id="FirstName" placeholder="Enter your First name"
        formControlName="FirstName" />
      <div *ngIf="
          Studentform.get('FirstName').invalid &&
          (Studentform.get('FirstName').dirty ||
            Studentform.get('FirstName').touched)
        " class="text-danger">
        Valid First Name is required.
      </div>
    </div>

    <div class="ms-3">
      <label for="MiddleName" class="form-label">Middle Name</label>
      <input type="text" class="form-control" id="MiddleName" placeholder="Enter your Middle name"
        formControlName="MiddleName" />
    </div>

    <div class="ms-3">
      <label for="LastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="LastName" placeholder="Enter your Last name"
        formControlName="LastName" />
      <div *ngIf="
          Studentform.get('LastName').invalid &&
          (Studentform.get('LastName').touched ||
            Studentform.get('LastName').dirty)
        " class="text-danger">
        Valid Last Name is required.
      </div>
    </div>

    <div class="ms-3">
      <label for="inputEmail" class="form-label">Email address</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email" formControlName="Email" />
      <div *ngIf="
          Studentform.get('Email').invalid &&
          (Studentform.get('Email').dirty || Studentform.get('Email').touched)
        " class="text-danger">
        <div *ngIf="Studentform.get('Email').errors?.['required']">
          Email is required.
        </div>
        <div *ngIf="Studentform.get('Email').errors?.['email']">
          Enter a valid email (e.g. name@example.com).
        </div>
      </div>
    </div>

    <div class="ms-3">
      <label for="inputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Enter your password"
        formControlName="Password" />
      <div *ngIf="
          Studentform.get('Password').invalid &&
          (Studentform.get('Password').dirty || Studentform.get('Password').touched)
        " class="text-danger">
        <div *ngIf="Studentform.get('Password').errors?.['required']">
          Password is required.
        </div>
        <div *ngIf="Studentform.get('Password').errors?.['pattern']">
          Password must be at least 8 characters long and contain at least one letter and one number.
        </div>
      </div>
    </div>

    <div class="ms-3">
      <label for="Mobile" class="form-label">Phone Number</label>
      <input type="text" class="form-control" id="Mobile" placeholder="Enter your phone number"
        formControlName="Mobile" value="Mobile"/>
      <div *ngIf="
          Studentform.get('Mobile').invalid &&
          (Studentform.get('Mobile').dirty ||
            Studentform.get('Mobile').touched)
        " class="text-danger">
        <div *ngIf="Studentform.get('Mobile')?.errors?.['required'] && Studentform.get('Mobile').touched">
          Phone number is required.
        </div>
       
        <div *ngIf="Studentform.get('Mobile')?.errors?.['pattern']">
          Only digits are allowed.
        </div>
         <div *ngIf="Studentform.get('Mobile')?.errors?.['minlength'] && (Studentform.get('Mobile').touched || Studentform.get('Mobile').dirty )">
          Minimum 10 digits required.
        </div>
        <div *ngIf="Studentform.get('Mobile')?.errors?.['maxlength'] && (Studentform.get('Mobile').touched || Studentform.get('Mobile').dirty )">
          *Can Only Enter Maximum 10 digits.
        </div>

      </div>
    </div>

    <div class="ms-3">
      <label for="address" class="form-label">Address</label>
      <input type="text" class="form-control" id="address" placeholder="Enter your Address" formControlName="Address" />
      <div *ngIf="
          Studentform.get('Address').invalid &&
          Studentform.get('Address').touched
        " class="text-danger">
        Address is required.
      </div>
    </div>
     <div class="container mt-3">
    <button class="btn btn-primary ms-3 mt-3" type="submit" [disabled]="Studentform.invalid">Submit</button>
  </div>
    </form>
  </div>

 