.product-image{
    width: 30%;
    height: 10%;
    /* display: flex; */
}
.product-item {
  width: 200px;
  border: 1px solid #ddd;
  padding: 10px;
  /* text-align: center; */
    display: flex;
  flex-wrap: wrap; /* Optional: allows wrapping to next line on smaller screens */
  gap: 16px;
}