<div>
  <div class="container">
    <div class="row">
      <div class="col-12">
         <img
          src="https://imgs.search.brave.com/zdqMj26syGTpzjJvkpF-pzUTBKK9M8RJ65trz2COR5Q/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9pbWct/Y2RuLnB1YmxpdmUu/b25saW5lL2ZpdC1p/bi8xMjgweDk2MC9m/aWx0ZXJzOmZvcm1h/dCh3ZWJwKS9hZmFx/cy9tZWRpYS9wb3N0/X2F0dGFjaG1lbnRz/L2M5ZDc3OTk4Njhl/OWQ1MTExOTEzYWE1/N2VhN2JhODBjMTZi/ZGI4MmQyZDgxZDQ5/N2I2NTZmMDE3M2Rj/ZWY3Y2QuanBn"
          alt="eKart Logo"
        class="img-thumbnail d-block mx-auto"
        />
        <h1 class="text-center">Welcome to Angular-ekart</h1>
        <p class="text-center">Your one-stop shop for all things online!</p>
       
      </div>
    </div>
  </div>
</div>
